<header id="nav-wrapper">
    <nav id="nav">
        <div class="nav left">
            <span class="gradient skew">
                <h1 class="logo un-skew"><a href="/">Flight Tracker</a></h1>
            </span>
            <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
        </div>
        <div class="nav right">
            <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
            <a href="/flights" class="nav-link"><span class="nav-link-span"><span class="u-nav">Flights</span></span></a>
            <a href="/flights/new" class="nav-link"><span class="nav-link-span"><span class="u-nav">New Flight</span></span></a>
            <a href="/destinations/new" class="nav-link"><span class="nav-link-span"><span class="u-nav">New Destination</span></span></a>
        </div>
    </nav>
</header>