<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="main">
        <img id="airplane" src="/images/airplane.gif">
        <h1>
            <%= message %>
        </h1>
        <h2>
            <%= error.status %>
        </h2>

        <h1>Oh no! Wrong page.<br>I hope you didn't miss your flight!</h1>

        <a id="btn" href="/">Home Page</a>

        <pre><%= error.stack %></pre>
    </section>

</body>
</html>