html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    /* font-size: 62.5% */
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
	background: linear-gradient(
-45deg
, #ee7752, #3551b7, #23a6d5, #69eacc);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Helvetica;
  color: white;

  --darkbg: #729EC7;
  --lightbg: #E1F5FF;
  --lightgrey: #f1f1f1;
  --medgray: #ceced1;
  --darkgrey: #8e8f91;
  --darkblue: #010363;
  
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  color: white;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
#footer a {
  color: white;
  text-decoration:underline;
}

h1 {
  line-height: 1.2em;
  color: var(--darkblue);
}

#airplane {
  width: 300px;
  float: right;
  box-shadow: 0px 0px 50px lightskyblue;
  border-radius: 20px;
 
}
#errorBtn {
  color: var(--darkblue);
  border: 2px ridge lightblue;
  border-radius: 8px;
  padding: 4px 5px 6px 5px;
  font-size: 25px;
  margin-top: 40px;
  background-color: #b1e0ef29;
}

pre {
  margin-top:70px;
  line-height: 1.5em;
}

/* Table for flights info */

table {
  border-spacing: 0;
  margin: 20px auto;
  font-size: 1.2rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}


table a {
  font-size: 1.2rem;
}

tbody > tr:nth-child(even){
  background: var(--medgray);
  color: var(--darkblue);
}
tbody > tr:nth-child(odd) {
  background: var(--lightgrey);
  color: var(--darkblue);
}

th, td {
  text-align:left;
  padding: 1em;
  
  border-bottom: 2px solid white; 
}

th {
  font-size: 1.5rem;
  color: var(--darkblue);
  background-color: var(--darkgrey);
}

.Btn {
  color: #f857a8;
  background-color: white;
  font-size: 1.3rem;
  border-radius:5px;
  border: 2px solid gray;
  box-shadow: 0 0 5px lightgrey;
}

.Btn:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgb(197, 193, 193);
  border: 2px solid rgb(78, 76, 76);
}

input[type=submit] {
  color: var(--darkblue);
  background-color: white;
  font-size: 1.3rem;
  border-radius:8px;
  border: 2px solid gray;
}

input[type=submit]:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgb(197, 193, 193);
  border: 2px solid rgb(78, 76, 76);
}



.input {
  width: 100px;
  height:30px;
}
.input-time {
  width: 200px;
  height:30px;
}

select {
  /* width: 120px; */
  height:30px;
}

input[type=submit]:active {
  background: var(--darkbg);
  color: var(--lightbg);
}

input.delete-ecks {
  border-radius: 4;
  margin: 0;
  font-size: 1.6rem;
  color: var(--darkgrey);
  padding: 8px 12px;
  background: var(--lightgrey) !important;
}

input.delete-ecks:active {
  border-radius: 4;
  margin: 0;
  font-size: 1.6rem;
  color: var(--darkgrey);
  padding: 8px 12px;
  background: var(--lightbg) !important;
}

#show {
  float: left;
}
.tickets .destinations{
  display: flex;
  /* padding: 10px; */
}

.column1 {
  flex: 50%;
  float:left;
  margin-right: 110px;
}
.column2 {
  flex: 50%;
  float:left;
  margin-right: 110px;
}

#main-title {
  font-size: 2.5em;
  text-decoration: underline overline;
}

 h4 {
  color: #fd5872;
  font-size: 20px;
  text-shadow: 0 0 3px black;
  text-align: center;
}