html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    /* font-size: 62.5% */
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
	background: -webkit-linear-gradient(0deg, #8e8f91, lightgray, #8e8f91);
  background: linear-gradient(0deg, #8e8f91, lightgray, #8e8f91);
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Helvetica;
  color: white;

  --darkbg: #729EC7;
  --lightbg: #E1F5FF;
  --lightgrey: #f1f1f1;
  --medgray: #ceced1;
  --darkgrey: #8e8f91;
  --darkblue: #010363; 
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #010363;
  background: -webkit-linear-gradient(45deg, #022671, #0452f3);
  background: linear-gradient(45deg, #022671, #0452f3);
  color: white;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
#footer a {
  color: white;
  text-decoration:underline;
}

h1, p {
  line-height: 1.2em;
  color: var(--darkblue);
}

#airplane {
  width: 300px;
  float: right;
  box-shadow: 0px 0px 50px lightskyblue;
  border-radius: 20px;
  margin-left: 20px;
}

#errorBtn {
  color: var(--darkblue);
  border: 2px ridge lightblue;
  border-radius: 8px;
  padding: 4px 5px 6px 5px;
  font-size: 25px;
  margin-top: 40px;
  background-color: #b1e0ef29;
}

pre {
  margin-top:70px;
  line-height: 1.5em;
}

/* Table for flights info */

table {
  border-spacing: 0;
  margin: 20px auto;
  font-size: 1.2rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

table a {
  font-size: 1.2rem;
}

tbody > tr:nth-child(even){
  background: var(--medgray);
  color: var(--darkblue);
}

tbody > tr:nth-child(odd) {
  background: var(--lightgrey);
  color: var(--darkblue);
}

th, td {
  text-align:left;
  padding: 1em;  
  border-bottom: 2px solid white; 
}

th {
  font-size: 1.5rem;
  color: var(--darkblue);
  background-color: var(--darkgrey);
}

.Btn {
  color: #010363;
  background-color: white;
  font-size: 1.3rem;
  border-radius:5px;
  border: 2px solid gray;
  box-shadow: 0 0 5px lightgrey;
}

.Btn:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgb(197, 193, 193);
  border: 2px solid rgb(78, 76, 76);
}

input[type=submit] {
  color: var(--darkblue);
  background-color: white;
  font-size: 1.3rem;
  border-radius:8px;
  border: 2px solid gray;
}

input[type=submit]:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgb(197, 193, 193);
  border: 2px solid rgb(78, 76, 76);
  border-radius: 5px;
}

.input {
  width: 100px;
  height:30px;
  border-radius: 5px;
}
.input-time {
  /* width: 200px; */
  height:30px;
  border-radius: 5px;
}

select {
  /* width: 120px; */
  height:30px;
  border-radius: 5px;
}

input[type=submit]:active {
  background: var(--darkbg);
  color: var(--lightbg);
}

input.delete-ecks {
  border-radius: 4;
  margin: 0;
  font-size: 1.6rem;
  color: var(--darkgrey);
  padding: 8px 12px;
  background: var(--lightgrey) !important;
}

input.delete-ecks:active {
  border-radius: 4;
  margin: 0;
  font-size: 1.6rem;
  color: var(--darkgrey);
  padding: 8px 12px;
  background: var(--lightbg) !important;
}

#show {
  display: grid;
  justify-content: flex-start;
}

.tickets {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  height: 100hv;
  width: 100%;
  justify-items: baseline;
}
.column1 {
  grid-column: 1 / 2;
  grid-row: 1;
}
.column2 { 
  grid-column: 2 / 2;
  grid-row: 1;
}
.column3 {
  grid-column: 1 / 2;
  grid-row: 2;
  margin-top: -35px;
}
.column4 {
  grid-column: 2 / 4;
  grid-row: 2;
  margin-top: -35px;
}
.destinations{
  display: flex;
} 
.column5 {
  margin-right: 100px;
}

main {
  width:720px;
  margin-top: 80px;
  margin-bottom: 80px;
}

#main-title {
  font-size: 2.5em;
  text-decoration: underline overline;
}

 h4 {
  color: #fd5872;
  font-size: 20px;
  text-shadow: 0 0 3px black;
  text-align: center;
}

.sortBtn {
  color:var(--darkblue);
  background-color: white;
  font-size: 1.3rem;
  border-radius:5px;
  border: 2px solid gray;
  box-shadow: 0 0 5px lightgrey;
}

.sortBtn:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgb(197, 193, 193);
  border: 2px solid rgb(78, 76, 76);
}

.past, .error {
  color: rgb(255, 68, 68) !important;
}

#index, form {
  float: left;
}

/* logo w/o icon
.logo-img {
  width: 50px;
} */

/* logo with icon */
.logo-img {
  width: 34px;
  margin-bottom: -8px;
  margin-left: -9px;
}